{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h1 class="display-3 text-white animated slideInDown">Reviews</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Pages</a>
                </li>
                <li
                  class="breadcrumb-item text-white active"
                  aria-current="page"
                >
                  Reviews
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Reviews Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">
            REVIEWS
          </h6>
          <h1 class="mb-5">Share your experience with us</h1>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5>Help us get better</h5>
            <p class="mb-4">
              Kindly fill in the form, telling us about your experience and we will share them with everyone.
            </p>
            <div class="d-flex align-items-center mb-3">
              
            </div>
            <div class="d-flex align-items-center mb-3">
              
            </div>
            <div class="d-flex align-items-center mb-3">
              
            </div>
          </div>
          <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
            {# <h1 class="fw-bold mb-5 text-uppercase text-primary d-flex justify-content-center align-items-center">
                Reviews
            </h1> #}

            {% if form_errors(testimonialForm) %}
                <div class="alert alert-danger">
                    {{ form_errors(testimonialForm) }}
                </div>
            {% endif %}

            {{ form_start(testimonialForm, {'attr': {'class': 'form-review'}}) }}
                {# <div class="mb-4 text-primary">
                    {{ form_row(testimonialForm.user, {'attr': {'class': 'form-control', 'placeholder': 'Enter your userid'}}) }}
                </div> #}

                <div class="mb-4 text-primary">
                    {{ form_row(testimonialForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter your name'}}) }}
                </div>

                <div class="mb-4 text-primary">
                    {{ form_row(testimonialForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}
                </div>

                <div class="mb-4 text-primary">
                    {{ form_row(testimonialForm.testimonial, {'attr': {'class': 'form-control', 'placeholder': 'Enter your review here'}}) }}
                </div>

                <div class="mb-2">
                    <button class="btn btn-primary btn-lg px-5" type="submit">Submit</button>
                </div>
            {{ form_end(testimonialForm) }}
          </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reviews End -->

{% endblock %}