{% extends 'base.html.twig' %}

{% block body %}
    <div class="container scrollable-container py-2">
        <h4>Chapter</h4>

        <table class="table table-striped table-bordered mt-4">
            <tbody class="thead-dark text-center">
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ chapter.title }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ chapter.courses.title }}</td>
            </tr>
            <tr>
                <th>Instructor</th>
                <td>{{ chapter.courses.user.firstName }} {{ chapter.courses.user.lastName }}</td>
            </tr>
            </tbody>
        </table>

        <div class="mb-2 btn-group float-end">
            <a class="btn btn-secondary rounded btn-sm" href="{{ path('app_courses_chapter_index', {'id':course_id}) }}"> <<< </a>

            <a class="btn btn-info rounded btn-sm" href="{{ path('app_courses_chapter_edit', {'id': chapter.courses.id, 'cid': chapter.id}) }}"><i class="fas fa-edit"></i>
            </a>

            {{ include('courses/chapter/_delete_form.html.twig') }}
         </div>
    </div>
{% endblock %}
