{% extends 'base.html.twig' %}

{% block title %}Edit &#128100;{% endblock %}

{% block body %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-4">
                              <h4 class="fw-bold mb-5 text-primary d-flex justify-content-center align-items-center">&#128100;: {{ user.id }}</h4>

                              {{ form_start(form, {'attr': {'id': 'form-edit-user'}}) }}

                              {% if form_errors(form) %}
                                  <div class="alert alert-danger">
                                      {{ form_errors(form) }}
                                  </div>
                              {% endif %}

                              <div class="mb-4 text-primary">
                                  {{ form_row(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Enter firstname'}}) }}
                              </div>

                              <div class="mb-4 text-primary">
                                  {{ form_row(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Enter lastname'}}) }}
                              </div>

                              <div class="mb-4 text-primary">
                                  {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter user email', 'disabled': false}}) }}
                              </div>

                              {# <div class="mb-4 text-primary">
                                  {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter your password', 'disabled': true}}) }}
                              </div> #}

                              <div class="mb-4 form-check form-check-inline text-primary">
                                  {{ form_row(form.roles, {'attr': {'class': 'form-check'}}) }}
                              </div>

                              <div class="mb-2">
                                  <a class="btn btn-secondary rounded btn-sm" href="{{ path('app_user_index') }}"> <<< </a>
                                  
                                  <button class="btn btn-primary rounded btn-sm" type="submit">Update</button>
                              </div>

                              {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
